.App {
  color: #35464b;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.App-logo {
  background: white;
  color: white;
  height: 80px;
}

.App-header {
  background: rgb(152, 185, 198);
  color: #00202d;
  height: 130px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}
